#classifyMenu {
  top: 50px;

  .menu-inner {
    width: 15rem;
    max-width: 20rem;
  }

  .menu-active .menu-li {
    color: color($colors, primary);
    background-color: #fff;
    display: block !important;
  }

  .menu-li {
    position: relative;
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid #f2f2f2;
    display: none;
    &:first-child {
      display: block;
    }
    span {
      pointer-events: none !important;
      padding-left: 24px;
    }
  }

  .object-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
}
